

// Colors
$primary-color: #2F2E41;
$section-color: #F4F4F4;
$accent-color: #F88747;
$selection-color: #CCCCCC;
$textarea-color: #E4E4E4;
$placeholder-color: #A3A3A3;
$error-color: #EE4700;


// Font-Weight
$semibold-weight: 600;
$regular-weight: 400;
$medium-weight: 500;


// Font-Sizes
$base-size: 1rem;
$page-title-size: 2rem;
// $section-heading-size: 
// $subheading-size


// Font-Family
$font-family: 'Poppins', sans-serif;

$border-radius: 5px;
