@import 'variables.scss';

.add-trip-container{
    width: 100%;
    min-height: 100vh;
    position: fixed;
    background-image: url('../assets/pattern.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: $primary-color;

    & > div {
        display: grid;
        grid-template-rows: 100px 1fr;
        height: 100vh;
        background: rgba(255,255,255, 0.9);
    }

    svg{
        cursor: pointer;
        margin: 2rem 2.3rem;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1{
            text-align: center;
        }

        input{
            border-color: $accent-color;
        }

        button{
            background-color: $accent-color;
            color: #fff;
            border: none;
            margin-top: 1rem;
        }
    }
}