@import 'variables.scss';

.sign-login-btns-container{
    display: flex;
    flex-direction: column;
    @include desktop{
        flex-direction: row;
        position: absolute;
        right: 0;
    }

    a{
        text-align: center;
        color: $primary-color;
    }

    .btn{
        @include desktop{
            width: auto;
            padding: 0.5rem 2rem;
        }
    }

    .sign-up{
        background-color: $primary-color;
        color: #fff;
        margin-bottom: 1.4rem;
        @include desktop{
            margin-bottom: 0;
            margin-right: 1rem;
        }
    }
}