@import 'variables.scss';

.expenses-container{
    & > div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 2rem 0;
    }

    .btn{
        width: 40%;
        margin: 0 auto;
        display: block;
        font-size: 0.8rem;
        border: none;
        background-color: $accent-color;
        color: #fff;

        &.hidden{
            display: none;
        }
    }

    .expense-info{
        background-color: $section-color;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 10px;
    }

    h3{
        padding-top: 1rem;
    }

    div{
        padding-top: 2rem;

        svg{
            box-shadow: none;
            background-color: transparent;
            cursor: pointer;
        }
    }
}