@import 'variables.scss';


.form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 395px;
    margin: 0 auto;

    form{   
        margin-top: 1rem;
        border: 1px solid #E4E4E4;
        box-shadow: 0 5px 25px 5px rgb(0 0 0 / 5%);
        padding: 2rem;
        border-radius: 10px;

        h2,
        p{
            text-align: center;
        }

        h2{
            color: $primary-color;
        }

        p{
            color: $placeholder-color;
        }

        a{
            color: $accent-color;
        }

        .pw-recovery{
            text-align: right;
            font-size: 0.8rem;
            margin-bottom: 0.5rem;
        }

        .form-control{
            padding: 1.125rem 0;

            .sign-up-btn{
                background-color: $accent-color;
                border: none;
                color: #fff;
            }

            .btn:disabled{
                background-color: $selection-color;
                cursor: not-allowed;
            }

            .google-btn{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 0.5rem;

                p{
                    color: $primary-color;
                }
            }

            .google-icon{
                box-shadow: none;
                border-radius: 0%;
                width: 2.5rem;
                height: 2.5rem;
                margin-right: 0.5rem;
            }
        }
    }
}