@import 'variables.scss';

.itinerary-container{
    color: $primary-color;

    svg{
        box-shadow: none;
        background-color: transparent;
        cursor: pointer;
    }

    .itinerary-items{
        .itinerary-card{
            margin-bottom: 3rem;
            border-bottom: 1px solid $primary-color;

            &.slide{
                padding-bottom: 1rem;
            }

            .card-header{
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;
            }

            .card-content{
                display: none;

                .activities{
                    margin-bottom: 2rem;

                    .activity-card{
                        margin-bottom: 1rem;

                        form{
                            display: block;

                            div{
                                position: relative;

                                .tooltipText{
                                    position: absolute;
                                    background: $placeholder-color;
                                    color: $section-color;
                                    bottom: 43px;
                                    left: -45px;
                                    border-radius: 10px;
                                    padding: 0.5rem 1rem;
                                    width: 40%;
                                    visibility: hidden;
                                    opacity: 0;
                                    transition: opacity 300ms ease-in-out;
                                }

                                &:hover .tooltipText{
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }

                            .tooltip .tooltipText::before{
                                content: "";
                                position: absolute;
                                top: 100%;
                                left: 50%;
                                margin-left: -5px;
                                border-width: 5px;
                                border-style: solid;
                                border-color: $placeholder-color transparent transparent transparent;
                            }
                        }
                    }
                }

                &.show{
                    display: block;
                }
            }
        }
    }

    form{
        display: flex;

        input {
            width: 70%;
            margin-right: 1rem;
            border: none;
            background: $textarea-color;
            color: $placeholder-color;
        }

        button{
            width: 25%;
            border: none;
            background: $accent-color;
            color: #fff;
            padding: 0;
            font-size: 0.8rem;
        }
    }
}