@import './variables.scss';

.menu-bar-container{
    background: #fff;
    box-shadow: 0 -3px 56px -13px rgb(0 0 0 / 10%);

    div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 600px;
        margin: 0 auto;

        .explore-tab,
        .add-trip-tab,
        .profile-tab{
            color: $selection-color;
            cursor: pointer;
            transition: color 300ms ease-in-out;
        }
    
        .add-trip-tab:hover{
            color: $accent-color;
        }
    
        .active{
            color: $accent-color;
        }
    
        svg{
            box-shadow: none;
            width: 2.5rem;
        }
    
        .centered{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

}