@import 'variables.scss';

.trip-overview{
    font-family: $font-family;

    @include large-desktop{
        .section-heading{
            font-size: 1.2rem;
        }
    }

    .reservation-icons{
        background-color: $section-color;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 0.8rem;
        margin-top: 0.8rem;
        @include large-desktop{
            margin-top: 1.5rem;
        }

        button{
            width: 25%;
            border: none;
            background-color: transparent;
            cursor: pointer;

            p{
                font-weight: $medium-weight;
                margin-top: 0.5rem;
                @include large-desktop{
                    font-size: 1rem;
                }
            }

            svg{
                width: 2rem;
                height: 100%;
                @include large-desktop{
                    width: 2.5rem;
                }
            }
        }
    }

    .trip-form{
        margin-top: 2rem;

        form{

            fieldset{
                border: none;
                margin-top: 1rem;
                border-bottom: 1px solid $primary-color;
                padding-bottom: 0.8rem;
                @include large-desktop{
                    margin-top: 1.5rem;
                    padding-bottom: 1.2rem;
                }

                div{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    svg{
                        background-color: transparent;
                        border-radius: 0;
                        box-shadow: none;
                        transition: transform 300ms ease-in-out;
                        cursor: pointer;

                        &.rotate{
                            transform: rotate(180deg);
                        }
                    }
                }

                section{
                    .reservation-block{
                        opacity: 0;
                        height: 0;
                        display: none;
                        transition: opacity 300ms ease-in-out;

                        &.show{
                            margin: 1.5rem 0;
                            height: auto;
                            opacity: 1;
                            display: block;
                        }

                        p{
                            text-align: center;
                            padding: 1.5rem 1rem;
                            color: $selection-color;
                            background-color: $section-color;
                            border-radius: 20px;
                        }

                        .flight-container,
                        .lodging-container,
                        .other-container,
                        .notes-container,
                        .cars-container{
                            color: $primary-color;
                            @include desktop{
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                gap: 20px;
                            }
                        
                            .flight-info,
                            .lodging-info,
                            .other-info,
                            .note-info,
                            .car-info{
                                flex-direction: column;
                                align-items: flex-start;
                                background-color: $section-color;
                                padding: 1rem;
                                margin-bottom: 1rem;
                                border-radius: 10px;
                                @include tablet{
                                    padding: 2rem;
                                }

                                @include desktop{
                                    margin-bottom: 0;
                                }
                        
                                h2{
                                    font-weight: $semibold-weight;
                                }
                        
                                h3{ 
                                    font-weight: $semibold-weight;
                                    text-transform: uppercase;
                                }

                                p{
                                    padding: 0;
                                    color: $primary-color;
                                }

                                button{
                                    border: none;
                                    background-color: transparent;
                                    cursor: pointer;

                                    svg{
                                        pointer-events: none;
                                    }
                                }
                        
                                div{
                                    padding: 0.5rem 0;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    width: 100%;

                                    .departure-info,
                                    .arrival-info,
                                    .checkin-info,
                                    .checkout-info,
                                    .pickup-info,
                                    .dropoff-info{
                        
                                        p{
                                            text-align: left;
                                            padding: 0;
                                            background: transparent;
                                            color: $primary-color;
                                        }
                                    }
                        
                                }

                                .operation-icons{
                                    flex-direction: row;
                                    justify-content: flex-start;
                                }
                            }

                            .car-info{
                                .reservation-info{
                                    flex-direction: column;
                                    padding-top: 0.5rem;

                                    .pickup-info,
                                    .dropoff-info{
                                        padding: 0.5rem 0;
                                    }

                                    span{
                                        margin-top: 0;
                                        color: $primary-color;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}