@import './variables';


.profile-wrapper{
    background: url('../assets/fieldimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 165px;
    position: relative;

    .logout-btn{
        margin: 1rem;
        background: #fff;
        color: $primary-color;
        padding: 0.25rem 1rem;
        border: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: $border-radius;
        right: 0;
        position: absolute;
        cursor: pointer;
        transition: all 300ms ease-in-out;

        &:hover{
            margin-right: 1.5rem;
        }

        svg{
            box-shadow: none;
            background-color: transparent;
            border-radius: 0%;
        }
    }

    .profile-image-wrapper{
        background-color: $section-color;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: calc(165px - 75px);
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        svg{
            background-color: transparent;
            box-shadow: none;
            width: 4rem;
            padding: 0;
        }

        h3{
            padding: 0.5rem 1.2rem;
            text-align: center;
            color: $primary-color;
        }
    }
}

.trip-profile-section{
    flex-grow: 2;

    aside{
        margin-top: 5rem;

        h2{
            color: $primary-color;
            text-align: center;
        }

        .search-bar{

            .icon-wrapper{
                right: 9px;
                top: 10px;
            }
        }
    }

    .trip-details{

        .no-trips-placeholder{
            text-align: center;
            margin-top: 3rem;
            background: $section-color;
            padding: 2rem;
            border-radius: 20px;
            color: $placeholder-color;
        }

        .trip-card{
            display: grid;
            grid-template-columns: 1fr 5fr 1fr;
            grid-gap: 28px;
            margin-top: 2rem;
            align-items: center;
            border-bottom: 1px solid $selection-color;
            padding-bottom: 1rem;
            font-weight: $semibold-weight;

            .trip-image{
                width: 125px;
                height: 125px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }

            #days-left{
                background: $section-color;
                width: 80%;
                border-radius: 20px;
                padding: 0.25rem 1rem;
                color: $accent-color;
                margin-bottom: 0.5rem;
            }

            #dates{
                color: $placeholder-color;
            }
        }

        .refresh-btn{
            background: transparent;
            border: none;
            width: 100%;
            margin-top: 2rem;
            cursor: pointer;
            display: none;
        }

        .refresh-btn.show{
            display: block;
        }

        .operation-icons{
            display: flex;
            flex-direction: column;
            text-align: right;
            
            button{
                background-color: transparent;
                border: none;
                cursor: pointer;

                svg{
                    box-shadow: none;
                    pointer-events: none;
                }
            }
        }
    }
}