@import './variables';


.profile-wrapper{
    background: url('../assets/placeholder-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 165px;
    position: relative;

    .profile-image-wrapper{
        background-color: $section-color;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: fixed;
        left: 50%;
        top: calc(165px - 75px);
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        svg{
            background-color: transparent;
            box-shadow: none;
            width: 4rem;
            padding: 0;
        }

        h3{
            padding: 0.5rem 1.2rem;
            text-align: center;
        }
    }
}

.trip-profile-section{
    flex-grow: 2;
}